/* line 1, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.grid-conatiner {
  width: 100%;
  max-width: 1400px;
}

/* line 6, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.row:before, .row:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 12, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
[class*='col-'] {
  float: left;
  min-height: 30px;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-1 {
  width: 8.33333%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-2 {
  width: 16.66667%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-3 {
  width: 25%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-4 {
  width: 33.33333%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-5 {
  width: 41.66667%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-6 {
  width: 50%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-7 {
  width: 58.33333%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-8 {
  width: 66.66667%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-9 {
  width: 75%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-10 {
  width: 83.33333%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-11 {
  width: 91.66667%;
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_grid.scss */
.col-12 {
  width: 100%;
}

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_game.scss */
#portfolio {
  position: absolute;
  right: 0;
  left: 0;
  margin: 300px auto 0;
  width: 200px;
  height: 200px;
}

/* line 11, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_game.scss */
.hidden {
  display: none;
}

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board {
  height: 85vh;
  width: 164vh;
  position: relative;
  top: -2vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
}

/* line 12, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .gone {
  opacity: 0;
}
.block:hover {
  
  box-shadow: 0 0 15px 2px silver;
  transition: all 0.2s linear 0s;
  
}
.block:active {
  
  box-shadow: 0 0 15px 3px grey;
  transition: all 0.1s linear 0s;
  
}

/* line 16, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block {
  width: 16vh;
  height: 16vh;
  border: 1px solid #000000;
  padding: 1vh;
  margin: 1vh;
  position: relative;
}

/* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block div.triangle {
  width: 0;
  height: 0;
  background-color: #ffffff;
  border-bottom-style: solid;
}

@media all and (orientation: landscape) {
  /* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block div.triangle {
    border-bottom-width: 17vh;
    border-left: 17vh solid transparent;
  }
}

@media all and (orientation: portrait) {
  /* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block div.triangle {
    border-bottom-width: 17vw;
    border-left: 17vw solid transparent;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block div.triangle {
    border-bottom-width: 12.5vw;
    border-left: 12.5vw solid transparent;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block div.triangle {
    border-bottom-width: 12.5vh;
    border-left: 12.5vh solid transparent;
  }
}

/* line 46, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color1 {
  border-bottom-color: #E6F99D;
}

/* line 49, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color2 {
  border-bottom-color: #50CFC9;
}

/* line 52, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color3 {
  border-bottom-color: #EA5455;
}

/* line 55, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color4 {
  border-bottom-color: #F5D97E;
}

/* line 58, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color5 {
  border-bottom-color: #DDDDDD;
}

/* line 61, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color6 {
  border-bottom-color: #5A8DDC;
}

/* line 64, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color7 {
  border-bottom-color: #F5F5F5;
}

/* line 67, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color8 {
  border-bottom-color: #B9E937;
}

/* line 70, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color9 {
  border-bottom-color: #FC5185;
}

/* line 73, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color10 {
  border-bottom-color: #7FDA89;
}

/* line 76, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color11 {
  border-bottom-color: #47A0B4;
}

/* line 79, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color12 {
  border-bottom-color: #FF5733;
}

/* line 82, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color13 {
  border-bottom-color: #FFD00C;
}

/* line 85, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color14 {
  border-bottom-color: #BBE9DB;
}

/* line 88, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color15 {
  border-bottom-color: #F03861;
}

/* line 91, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block .color16 {
  border-bottom-color: #AECCC6;
}

/* line 95, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  width: 50%;
  position: absolute;
  margin: 10%;
  top: 0;
  left: 0;
}

@media all and (orientation: landscape) {
  /* line 95, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block h1 {
    font-size: 2em;
  }
}

@media all and (orientation: portrait) {
  /* line 95, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block h1 {
    font-size: 1.3em;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 95, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block h1 {
    font-size: 1.3em;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 95, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block h1 {
    font-size: 1.1em;
  }
}

/* line 118, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
#board .block p {
  margin: 0;
  padding: 0;
  padding-left: 50%;
  position: absolute;
  margin: 1vh;
  bottom: 0;
  right: 0;
}

@media all and (orientation: landscape) {
  /* line 118, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block p {
    font-size: 1.1em;
    width: 35%;
  }
}

@media all and (orientation: portrait) {
  /* line 118, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block p {
    font-size: 0.7em;
    width: 45%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 118, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block p {
    font-size: 0.9em;
    width: 45%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 118, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_board.scss */
  #board .block p {
    font-size: 0.7em;
    width: 45%;
  }
}

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer {
  color: #D7DBDD;
  font-weight: 200;
}

/* line 5, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #874365;
  background-color: #ffffff;
  border: 1px solid #874365;
  border-radius: 5px;
  padding: 5px 10px;
}

/* line 15, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer button:hover {
  background-color: #eddce5;
  color: white;
}

/* line 20, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer button:active {
  background-color: #cc97b2;
}

/* line 24, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer button:focus {
  outline: none;
}

/* line 29, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_footer.scss */
footer p {
  padding: 0;
  margin: 0;
  position: fixed;
  left: 20px;
  bottom: 20px;
}

/* line 1, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.flash {
  animation: flash 2s ease infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes "flash" {
  0% {
    -webkit-transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.5);
  }
  40% {
    -webkit-transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0.9);
  }
}

/* line 18, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.wobble {
  animation: wobble 2s ease infinite;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

/* line 32, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.swing {
  transform-origin: top center;
  animation: swing 2s ease infinite;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* line 44, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.roll-in {
  animation: roll-in 2s ease infinite;
}

@keyframes roll-in {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(1080deg);
  }
}

/* line 52, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

/* line 60, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.wave {
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: translateX(-20%) scale(0.8);
  }
  80% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/* line 71, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.gelatine {
  animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* line 82, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.hithere {
  animation: hithere 1s ease infinite;
}

@keyframes hithere {
  30% {
    transform: scale(1.1);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* line 93, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-35%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-17%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-13%);
  }
  100% {
    transform: translateY(0);
  }
}

/* line 106, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.shake {
  animation: shake 2s ease infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 115, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_animations.scss */
.squize {
  animation: squize 2s ease infinite;
}

@keyframes squize {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 1.5);
  }
}

/* line 7, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/partials/_all.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 4, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 9, /Users/sobylmine/Wszystko/CODEWORK/3. memo/scss/style.scss */
body {
  font-family: "SourceSansPro", sans-serif;
  font-size: 1.4vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
