@import 'modules/all';
@import 'partials/all';

html, body {
	margin:0;
	padding:0;
}

body {
	font-family: $basic-font-family;
	font-size: $basic-font-size;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}