@import 'modules/all';
@import 'partials/all';

html, body {
	margin:0;
	padding:0;
}

body {
	font-family: $basic-font-family;
	font-size: $basic-font-size;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

// @media only screen and (max-width: 400px) {
// 	body {
// 		background-color: red;
// 	}
// }
// @media only screen and (min-width: 600px) {
// 	body {
// 		background-color: blue;
// 	}
	
// }